# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
uploads/
*.db

# Node
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Vercel
.vercel/
.vercel
